@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* General scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent track */
}

::-webkit-scrollbar-thumb {
  background-color: #292524; /* Neutral-800 color */
  border-radius: 4px; /* Rounded corners */
}

/* Firefox-specific scrollbar styles */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #5a5a5a transparent; /* Thumb and track colors */
}

body {
  background: linear-gradient(to bottom right, white, black);
  height: 100vh; /* Ensures the gradient fills the viewport height */
  margin: 0; /* Removes any default margin */
}

.pixel {
  font-family: 'Press Start 2P', cursive;
}